@model Tweets.Models.ErrorModel

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request. Please contact support for further information.</h2>
<br />
<h5>@Model.Message</h5>

