@model Tweets.Models.TweetModel
<div class="row">
    <br />
</div>
<div class="row">
    <div class="bs-example" data-example-id="media-list">
        <ul class="media-list">
            @foreach (var userTweet in Model.UsersTweets)
            {
            <li class="media">
                <div class="media-left">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>       
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@userTweet.Key.Name</h4>
                    <br />
                    @if (userTweet.Value != null)
                    {
                        foreach (var tweet in userTweet.Value)
                        {
                        <p> @@@tweet.TweetingUser.Name: @tweet.Message  </p>
                        }
                    }
                </div>
            </li>
            }
        </ul>
    </div>
</div>